.nav-link{
    margin-left: 45px;
}
.f-link{
   text-decoration: none;
   line-height: 30px;
   color: #6c757d


}
#supportHero{
   
    background-color: rgb(56, 126, 209);
    color: white;
}
#supportHero a{
    color: white;
    font-size: larger;
    font-weight: 495;

    text-underline-position:below;
}
#supportHero input{
    padding: 20px 50px;
    width: 105%;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}
#supportWrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}